@media only screen and (max-width: 750px) {
  /* line 4, _responsive.scss */
  svg {
    display: block; }
  form label {
    display: inline-block; }
  .alert {
    width: 75%;
    margin-bottom: 15px; }
  .alert-danger {
    background-color: #e53935; }
  .alert-success {
    background-color: #4caf50; }
  /* line 7, _responsive.scss */
  .site-pusher, .site-container {
    height: 100%; }
  /* line 8, _responsive.scss */
  .site-container {
    overflow: hidden; }
  /* line 9, _responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  /* line 13, _responsive.scss */
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  /* line 23, _responsive.scss */
  .header {
    position: static; }
  /* line 26, _responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 50%; }
  /* line 36, _responsive.scss */
  .header__icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  /* line 47, _responsive.scss */
  .header__icon span::before, .header__icon span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-6px);
    transition: transform 0.5s; }
  /* line 59, _responsive.scss */
  .header__icon span::after {
    transform: translateY(6px); }
  /* line 65, _responsive.scss */
  .header__icon:hover span::before {
    transform: translateY(-8px); }
  /* line 68, _responsive.scss */
  .header__icon:hover span::after {
    transform: translateY(8px); }
  /* line 75, _responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #1e88e5;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); }
  /* line 86, _responsive.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #2196f3; }
  /* line 97, _responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
  /* line 3, _menu-svg.scss */
  .menu-icon-svg span {
    transition: background 0.75s steps(1, end); }
  /* line 7, _menu-svg.scss */
  .menu-icon-svg span::before, .menu-icon-svg span::after {
    transform-origin: 100% 50%; }
  /* line 11, _menu-svg.scss */
  .menu-icon-svg svg {
    opacity: 0;
    fill: transparent;
    stroke-width: 2px;
    stroke: #fff;
    stroke-dasharray: 22 230;
    transition: stroke-dasharray 0.75s, stroke-dashoffset 0.75s, opacity 0.75s steps(1, end); }
  /* line 21, _menu-svg.scss */
  .menu-icon-svg.is-opened span {
    transition: background 0.75s steps(1, start);
    background-color: transparent; }
  /* line 26, _menu-svg.scss */
  .menu-icon-svg.is-opened span::before {
    transform: translateX(-3px) translateY(-8px) rotate(-45deg); }
  /* line 29, _menu-svg.scss */
  .menu-icon-svg.is-opened span::after {
    transform: translateX(-3px) translateY(8px) rotate(45deg); }
  /* line 33, _menu-svg.scss */
  .menu-icon-svg.is-opened svg {
    opacity: 1;
    transition: opacity 0.75s steps(1, start);
    animation: pathanimation 0.75s linear;
    animation-fill-mode: forwards; }
  /* line 42, _menu-svg.scss */
  .menu-icon-svg.is-closed svg {
    animation: pathanimation-out 0.75s linear;
    animation-fill-mode: forwards; }
  @keyframes pathanimation {
    40% {
      stroke-dasharray: 22 230; }
    60% {
      stroke-dashoffset: -65; }
    100% {
      stroke-dashoffset: -65;
      stroke-dasharray: 160; } }
  @keyframes pathanimation-out {
    100% {
      stroke-dashoffset: 0; }
    60% {
      stroke-dasharray: 22 230; }
    40% {
      stroke-dashoffset: -65; }
    0% {
      stroke-dashoffset: -65;
      stroke-dasharray: 160; } } }