/* line 4, app.scss */
.site-hidden {
  display: none; }

/* line 7, app.scss */
html, body {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 17, app.scss */
a {
  text-decoration: none;
  color: inherit; }

.alert {
  margin: auto;
  margin-top: 15px;
  width: 25%;
  padding: 10px;
  color: #fff;
  border-radius: 5px; }

.alert-danger {
  background-color: #e53935; }

.alert-success {
  background-color: #4caf50; }

/* line 18, app.scss */
.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1; }

/* line 22, app.scss */
.site-content {
  padding-top: 66px; }

/* line 26, app.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #2196f3; }

/* line 39, app.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left; }

/* line 45, app.scss */
.menu {
  float: left; }

/* line 48, app.scss */
.menu a {
  padding: 0 10px; }

/* line 49, app.scss */
.menu a:hover {
  color: #ffc107; }

/* line 51, app.scss */
svg {
  display: none; }

/* line 54, app.scss */
@import "form";
@import "responsive";



/* line 2, _loader.scss */
.loader-circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #FFF;
  -moz-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

/* line 7, _loader.scss */
.loader-circles:before, .loader-circles:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #FFF;
  opacity: 0.8;
  -moz-animation: spin 10s linear infinite;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite; }

/* line 20, _loader.scss */
.loader-circles:before {
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  opacity: .5;
  -moz-animation: spin 5s linear infinite;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }

/* line 29, _loader.scss */
.section {
  background-color: #16a085;
  height: 100%;
  line-height: 100%; }

/* line 34, _loader.scss */
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 50vh;
  position: relative; }

/* Animations */
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinreverse {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes spinreverse {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes spinreverse {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-moz-keyframes grow {
  0% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; }
  50% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; }
  100% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; } }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; } }

@keyframes grow {
  0% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; }
  50% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; } }

@-moz-keyframes shatter {
  0% {
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -moz-transform: scale(0.5);
    transform: scale(0.5); }
  65% {
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    background-color: white;
    border-width: 0px; }
  90% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1; }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
    border-width: 1px;
    background-color: transparent;
    opacity: 0; } }

@-webkit-keyframes shatter {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  65% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    background-color: white;
    border-width: 0px; }
  90% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 1px;
    background-color: transparent;
    opacity: 0; } }

@keyframes shatter {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  65% {
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    background-color: white;
    border-width: 0px; }
  90% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1; }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 1px;
    background-color: transparent;
    opacity: 0; } }
